#---------------#
# DevTools Team #
#---------------#
* @redcanaryco/team-product-devtools

#---------------------#
# Linux EDR           #
#---------------------#
charts/linux-edr-sensor/* @redcanaryco/team-product-linux-edr
